<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="FileLog" value="newlogfile.log" />
    <add key="FileOutput" value="outIpList.txt" />
    <add key="AdressStart" value="" />
    <add key="AdressMask" value="" />
    <add key="TimeStart" value="2024-01-01" />
    <add key="TimeEnd" value="2025-01-01" />    
  </appSettings>
</configuration>